@supabase:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
cache=/tmp/.npm-cache
prefer-offline=true
legacy-peer-deps=true
progress=false
fetch-retries=5
fetch-retry-factor=3
fetch-retry-mintimeout=2000
fetch-retry-maxtimeout=60000
